<!DOCTYPE html>
<html>
	<head>
		<title>VJIT Sports</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<h1>
			Login
		</h1>
	</head>
	<body>
		<form class="ui form" action="/login" method="POST">
  			<div class="field">
    			<label>Username</label>
  	  				<input type="text" name="username" placeholder="username">
  			</div>
  			<div class="field">
    			<label>Password</label>
    				<input type="password" name="password" placeholder="password">
  			</div>
  			<button class="ui button" type="submit">Login</button>
		</form>
	</body>
<li><a href="/register">SignUp</a></li>
<li><a href="/logout">Logout</a></li>
